// COLOR CUBE

$White: #ffffff;
$Mine-Shaft: #272727;
$Gray:#868686;
$Scarlet: #f7260c;
$Cloud: #c6c1bd;
$Froly: #f0776b;

//MEDIAN CUT

$Masala: #403d36;
$Dust-Storm: #e4cdc9;
$Natural-Gray: #868a87;
$Dusty-Gray: #9c9c9c;
$Sushi: #86b54a;


//MATERIAL DESIGN

$Sushi-Vibrant: #86b648;
$Chicago-Muted: #5d5d5c;
$Thunderbird: #bf351f;
$Black-DarkMuted: #040404;
$Burnt-Sienna: #e97c62;

